<div class="title-bar">
    <h1 class="main-title title mb-5" id="aboutme">About Me</h1>
</div>
<div class="row justify-content-center m-auto about-image-container py-5">
    <div class="col-md-1 col-1"></div>
    <div class="col-md-9 col-10 row">
        <div class="col-md-5 photo-container">
            <img class="personal-photo" src="Foto_Pessoal.jpg">
        </div>
        <div class="aboutme-text col-md-7 p-md-0 p-5">
                <p>I am currently doing my Master's degree in Software Engineering with a specialization in cybersecurity in Faculty of Sciences of the University of Lisbon</p>
                <p>When I'm not at my computer I enjoy lifting weights, reading and speedcubing. Regarding the last one I'm currently the president of the fiscal 
                    council and team member of the marketing and digital team at <a href="https://speedcubingportugal.pt/home" target="_blank" rel="noopener noreferrer">APS - Associação Portuguesa de Speedcubing</a></p>
                <p id="working-technologies">Here are some technologies I have been working with:</p>
        </div>
    </div>
    <div class="col-md-2 col-1"></div>
</div>
<div class="technologies mt-5 m-auto row justify-content-evenly">
    <div class="col-1"></div>
    <div class="tech col mx-5 py-3 px-2"><div class="card-icon"><img src="java-logo.svg"></div><div class="card-text px-3"><p>Java</p><p>Programming Language</p></div></div>
    <div class="tech col py-3 px-2"><div class="card-icon"><img src="python-logo.svg"></div><div class="card-text px-3"><p>Python</p><p>Programming Language</p></div></div>
    <div class="tech col mx-5 py-3 px-2"><div class="card-icon"></div><div class="card-text px-3"><p>Java</p><p>Programming Language</p></div></div>
    <div class="col-1"></div>
</div>
<div class="technologies mt-3 mb-5 m-auto row justify-content-evenly">
    <div class="col-1"></div>
    <div class="tech col mx-5 py-3 px-2"><div class="card-icon"><img src="java-logo.svg"></div><div class="card-text px-3"><p>Java</p><p>Programming Language</p></div></div>
    <div class="tech col py-3 px-2"><div class="card-icon"></div><div class="card-text px-3"><p>Java</p><p>Programming Language</p></div></div>
    <div class="tech col mx-5 py-3 px-2"><div class="card-icon"></div><div class="card-text px-3"><p>Java</p><p>Programming Language</p></div></div>
    <div class="col-1"></div>
</div>