#page-container { 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  #footer {
    margin-top: auto;
  }

  .nav-spacer {
    padding-top: 126px; /* for navbar not to overlay */
}