<!-- Footer -->
<footer class="footer-container bg text-center text-white">
    <!-- Grid container -->
    <div class="container p-4">
  
      <!-- Section: Social media -->
      <section class="my-4" id="Social">
        
        <!-- Facebook -->
        <a class="btn btn-primary btn-floating m-1 " id="Facebook" href="https://www.facebook.com/profile.php?id=61556391464477" target="_blank" rel="noopener noreferrer" role="button">
          <i class="fab fa-facebook-f fa-lg "></i>
        </a>
      
  
        <!-- X-Twitter -->
        <a class="btn btn-primary btn-floating m-1" id="X-Twitter" href="#!" role="button">
          <i class="fa-brands fa-x-twitter fa-lg"></i>
        </a>
      
  
        <!-- Instagram -->
        <a class="btn btn-primary btn-floating m-1" id="Instagram" href="https://www.instagram.com/speedcubingportugal/" target="_blank" rel="noopener noreferrer" role="button">
          <i class="fab fa-instagram fa-xl"></i>
        </a>

        <!-- Discord -->
        <a class="btn btn-primary btn-floating m-1" id="Discord" href="#!" role="button">
          <i class="fa-brands fa-discord fa-lg"></i>
        </a>
      

        <!-- Linkedin -->
        <a class="btn btn-primary btn-floating m-1" id="Linkedin" href="https://www.linkedin.com/company/aps-associa%C3%A7%C3%A3o-portuguesa-de-speedcubing" target="_blank" rel="noopener noreferrer" role="button">
          <i class="fab fa-linkedin-in fa-lg"></i>
        </a>

        <p class="fw-semibold fs-5 my-2">Segue-nos nas redes sociais</p>

      </section>
      <!-- Section: Social media -->  

     
  
    </div>
    <!-- Grid container -->
  
  </footer>
  <!-- Footer -->