<!-- Footer -->
<footer class="footer-container bg text-center text-white">
    <!-- Grid container -->
    <div class="container p-4">
  
      <!-- Section: Social media -->
      <section class="my-4" id="Social">
        
        <!-- Gmail -->
        <a class="btn btn-primary btn-floating m-1 mx-2 " id="gmail" href="mailto:diogoapedro02@gmail.com" target="_blank" rel="noopener noreferrer" role="button">
          <i class="fa-solid fa-envelope fa-lg "></i>
        </a>
      
  
        <!-- GitHub -->
        <a class="btn btn-primary btn-floating m-1 mx-2" id="github" href="https://github.com/Diogoapedro" target="_blank" rel="noopener noreferrer" role="button">
          <i class="fa-brands fa-github fa-lg"></i>
        </a>
      
  
        <!-- Instagram -->
        <a class="btn btn-primary btn-floating m-1 mx-2" id="Instagram" href="https://www.instagram.com/_diogo_pedro_/" target="_blank" rel="noopener noreferrer" role="button">
          <i class="fab fa-instagram fa-xl"></i>
        </a>

        <!-- Linkedin -->
        <a class="btn btn-primary btn-floating m-1 mx-2" id="Linkedin" href="https://www.linkedin.com/in/diogo-pedro-38ab541a7/" target="_blank" rel="noopener noreferrer" role="button">
          <i class="fab fa-linkedin-in fa-lg"></i>
        </a>

        <p class="fs-4 fs-5 my-2">Follow me on my socials!</p>

      </section>
      <!-- Section: Social media -->  
  
    </div>
    <!-- Grid container -->
  
  </footer>
  <!-- Footer -->