/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
html { scroll-behavior: smooth;  }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: var(--bkg-color);}


body {
    --text-color: #222;
    --bkg-color: #f0f0f0;
    --bkg-off-color: #f0f0f0;
    --btn-txt-color: white;
    --light-accent-color: #FA7268;
    --accent-color: #e34c67;
    --dark-accent-color: #c62368;
}

body.dark-theme {
    --text-color: #eee;
    --bkg-color: #252222;
    --bkg-off-color: #191919;
    --btn-txt-color: rgb(46, 43, 43);
    --light-accent-color: #FA7268;
    --accent-color: #e34c67;
    --dark-accent-color: #c62368;
}

p, h1, h2 {
    color: var(--text-color);
}

h1, h2 {
    font-family: "Limelight", sans-serif;
}